<div style="width: 100%">
  <!-- USERS LIST -->
  <div class="box contact-box" [ngClass]="{'box-primary':isList,'box-danger':!isList}">
    <div class="box-header with-border">
      <h3 class="box-title">部门：
        <div class="btn-group">
          <button type="button" class="btn btn-default" #dep>{{curDep}}</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li *ngFor="let department of departments" (click)="curDep = department"><a href="javascript:;">{{department}}</a>
            </li>
          </ul>
        </div>
      </h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-default btn-sm" [class.active]="isList" (click)="isList=true"><i
          class="fa fa-square text-blue"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" [class.active]="!isList" (click)="isList=false"><i
          class="fa fa-square text-red"></i></button>
      </div>
    </div>
    <div style="max-height: 400px;overflow-y: auto;overflow-x: auto">
      <!-- /.box-header List-->
      <div *ngIf="isList" class="box-body">
        <div class="table-responsive">
          <table class="table no-margin table-hover">
            <thead>
            <tr>
              <th>部门</th>
              <th>姓名</th>
              <th>电话</th>
              <th>邮箱</th>
            </tr>
            </thead>
            <tbody>
            <tr class="show-hover" style="cursor: pointer" *ngFor="let user of depList | async" (click)="showDetail(user)">
              <td>{{user.dep}}</td>
              <td>{{user.name}}</td>
              <td>{{user.tel}}</td>
              <td>{{user.email}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>

      <!-- /.box-header Img-->
      <div *ngIf="!isList" class="box-body no-padding">
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <ul class="users-list clearfix">
            <li class="user-info" style="cursor: pointer" *ngFor="let user of depList | async" (click)="showDetail(user)">
              <img [src]=user.photo alt="User Image" style="min-width: 65px;width: 65%;max-width: 120px">
              <b class="users-list-name">{{user.name}}</b>
              <span class="users-list-date">电话：<span class="tel">{{user.tel}}</span></span>
              <span class="users-list-date">邮箱：<span class="email">{{user.email}}</span></span>
              <span class="users-list-date">部门：<span class="id">{{user.dep}}</span></span>
              <!-- /.box-body -->
            </li>
          </ul>
          <!-- /.users-list -->
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer text-center">
        没有更多内容了
      </div>
      <!-- /.box-footer -->
    </div>
  </div>
  <!--/.box -->
  <div class="show" *ngIf="show">
    <div class="box detail" @zoomIn @zoomOut [ngClass]="{'box-primary':isList,'box-danger':!isList}">
      <div class="box-body box-profile" *ngIf="show">
        <button type="button" class="close" (click)="show=false">&times;</button>
        <img class="profile-user-img img-responsive img-circle" [src]="showUser.photo"
             alt="User profile picture">

        <h3 class="profile-username text-center">{{showUser.name}}</h3>

        <p class="text-muted text-center">{{showUser.dep}}</p>

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>电话</b> <span class="pull-right">{{showUser.tel}}</span>
          </li>
          <li class="list-group-item">
            <b>邮箱</b> <span class="pull-right">{{showUser.email}}</span>
          </li>
          <li class="list-group-item">
            <b>座右铭</b> <span class="pull-right">{{showUser.motto}}</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.box -->
  </div>
</div>


