<div class="min-height">
  <!-- Custom Tabs (Pulled to the right) -->
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs pull-right">
      <li class="active"><a href="#tab_1-1" data-toggle="tab">公司简介</a></li>
      <li><a href="#tab_2-2" data-toggle="tab">公司文化</a></li>
      <li><a href="#tab_3-2" data-toggle="tab">公司新闻</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
          联系我们 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li role="presentation"><a href="#tab_4-1" data-toggle="tab" role="menuitem" tabindex="-1">联系方式</a></li>
          <li role="presentation"><a href="#tab_4-2" data-toggle="tab" role="menuitem" tabindex="-1">意见反馈</a></li>
        </ul>
      </li>
      <li class="pull-left header"><i class="fa fa-th"></i> 公司概况</li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active min-height" id="tab_1-1">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="box box-solid">
              <div class="box-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="assets/img/company.jpg" alt="First slide">

                      <div class="carousel-caption">
                        公司全景
                      </div>
                    </div>
                    <div class="item">
                      <img src="assets/img/company.jpg" alt="Second slide">

                      <div class="carousel-caption">
                        公司全景
                      </div>
                    </div>
                    <div class="item">
                      <img src="assets/img/company.jpg" alt="Third slide">

                      <div class="carousel-caption">
                        公司全景
                      </div>
                    </div>
                  </div>
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                  </a>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
          <div class="col-xs-12 col-md-6">
            <b>百硕电脑（苏州）有限公司</b>

            <p>
              百硕电脑（苏州）有限公司位于江苏省苏州市苏州高新区苏州高新区马运路南金枫路西,交通便利，我们属于外资企业，改革开放以来，我们企业经营一直稳中有进，主要从事：生产多层线路板，如有上门参观合作，请与本公司相关部门事先联系。其它关于百硕电脑（苏州）有限公司的详细介绍，请进入我公司网站了解最新动态。
            <ul>
              <li>会员类型： 普通会员</li>
              <li>主营项目： 生产多层线路板</li>
              <li>营业额： 资料待更新</li>
              <li>注册资金：待更新</li>
              <li>员工人数：2000人以上</li>
              <li>法人代表：康丰昌</li>
              <li>注册地址：江苏省苏州市苏州高新区苏州高新区马运路南金枫路西</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane min-height" id="tab_2-2">
        <b>百硕电脑（苏州）有限公司</b>

        <p>
          百硕电脑（苏州）有限公司位于江苏省苏州市苏州高新区苏州高新区马运路南金枫路西,交通便利，我们属于外资企业，改革开放以来，我们企业经营一直稳中有进，主要从事：生产多层线路板，如有上门参观合作，请与本公司相关部门事先联系。其它关于百硕电脑（苏州）有限公司的详细介绍，请进入我公司网站了解最新动态。
        <ul>
          <li>会员类型： 普通会员</li>
          <li>主营项目： 生产多层线路板</li>
          <li>营业额： 资料待更新</li>
          <li>注册资金：待更新</li>
          <li>员工人数：2000人以上</li>
          <li>法人代表：康丰昌</li>
          <li>注册地址：江苏省苏州市苏州高新区苏州高新区马运路南金枫路西</li>
        </ul>
      </div>
      <!-- /.tab-pane -->
      <div class="tab-pane min-height" id="tab_3-2">
        <b>百硕电脑（苏州）有限公司</b>

        <p>
          百硕电脑（苏州）有限公司位于江苏省苏州市苏州高新区苏州高新区马运路南金枫路西,交通便利，我们属于外资企业，改革开放以来，我们企业经营一直稳中有进，主要从事：生产多层线路板，如有上门参观合作，请与本公司相关部门事先联系。其它关于百硕电脑（苏州）有限公司的详细介绍，请进入我公司网站了解最新动态。
        <ul>
          <li>会员类型： 普通会员</li>
          <li>主营项目： 生产多层线路板</li>
          <li>营业额： 资料待更新</li>
          <li>注册资金：待更新</li>
          <li>员工人数：2000人以上</li>
          <li>法人代表：康丰昌</li>
          <li>注册地址：江苏省苏州市苏州高新区苏州高新区马运路南金枫路西</li>
        </ul>
      </div>
      <div class="tab-pane min-height" id="tab_4-1">
        <b>联系方式</b>
        <ul>
          <li>名称：百硕电脑（苏州）有限公司</li>
          <li>地址：江苏省苏州市新区金枫路233号</li>
          <li>电话：0512-66616088</li>
        </ul>
      </div>
      <div class="tab-pane min-height" id="tab_4-2">
        <b>意见反馈</b>
      </div>
      <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- nav-tabs-custom -->
</div>
